/* responsive work start here */

@media screen and (min-width:300px) and (max-width:577px){

    nav{
        text-align: center;
        background-color: #180d66;
    }

    nav ul{
        position: fixed;
        top: 70px;
        left: -100%;
        background-color: #180d66;
        height: 100vh;
        flex-direction: column;
        width: 100%;  
        transition: all 0.5s ease-in;
    }
    nav ul li{
       margin: 18px 0;
       font-size: 20px;
    }
    nav ul li:hover, nav ul li :active{
        background: none;
        color: aqua;
    }


    .sea i{
       display: none;
    }


    .btn{
        display: block;
    }

    #click:checked ~ ul {
        left: 0%;
    }
    #click:checked ~ .btn i::before{
        content: "\f00d";
    }

    /* main header section start */
    .main-head{
        width: 100%;
        height: 110vh; 
    }
    #fin-parent{
        display: block;
        margin: 0 20px;
        padding: 20px 0;
    }
    .fin-text{
        color: #fff;
        width: 100%;
    }
    .fin-text h1{
        font-size: 25px;
    }
    .fin-text p{
        margin: 10px 0 20px 0;
        font-size: 13px;
    }
    .fin-text button{
        font-size: 12px;
        padding: 8px 20px;
    }
    .banner-img img{
        width: 100%;
        margin-top: 30px;
    }
    /* first section code start */
    .service-title{
        padding-bottom: 80px;
        text-align: center;
    }
    .service-title h2{
        font-size: 28px;
    }
    .service-title p{
        margin: 8px 13px;
        font-size: 16px;
    }
    #ser-sec{
        margin: 140px 0 90px 0;
        width: 100%;
    }
    #service-parent{
        display: block;
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
        width: 80%;
    }
    .service-ite{
        padding-bottom: 50px;
    }
    .service-ite h3{
        padding: 13px 0 10px 0;
        font-size: 18px;
    }
    .service-ite p{
        padding-bottom: 13px;
        font-size: 14px;
        line-height: 20px;
    }
    .service-ite a{
        text-decoration: none;
        font-size: 13px;
        font-weight: 500;
        color: rgb(17, 4, 71);
    }
    #ser-sec button{
        display: block;
        margin: 0 auto;
        padding: 10px 35px;
        font-size: 12px;
    }
    .service-ite img{
        width: 60px;
        height: 60px;
    } 

    /* about section responsive code start */
    #about-sec{
        width: 100%;
    }
    #about-title{
        width: 90%;
        margin: 0 auto;
    }
    #about-title h2{
        font-size: 28px;
    }
    #about-title p{
        font-size: 13px;
        margin: 0 auto;
    }
    #about-parent{
        display: block;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        gap: 40px;
    }
    .about-img img{
        width: 90%;
        height: 90%;
    }
    .about-text h3{
        font-size: 26px;
        margin-top: 38px;
    }
    .about-text p{
        margin: 10px 0 28px 0;
        font-size: 13px;
        line-height: 23px;
    }
    .about-text button{
        font-size: 13px;
        padding: 10px 36px;
    }
   
    
 }
 
 @media screen and (min-width:578px) and (max-width:768px){
    /* header{
        width: 100%;
        height: 120;
        position: fixed;
        top: 0;
        padding-bottom: 50%;
    } */
    nav{
    text-align: center;
}
nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background-color: #180d66;
    height: 100vh;
    flex-direction: column;
    width: 100%;  
    transition: all 0.5s ease-in;
}
nav ul li{
   margin: 18px 0;
   font-size: 20px;
}
nav ul li:hover, nav ul li :active{
    background: none;
    color: aqua;
}
.sea{
    display: none;
}
.btn{
    display: block;
}

#click:checked ~ ul {
    left: 0%;
}
#click:checked ~ .btn i::before{
    content: "\f00d";
}
  /* main header section start */
.main-head{
    width: 100%;
    height: 120vh; 
}
  #fin-parent{
    display: block;
    margin: 0 8%;
}
.fin-text{
    color: #fff;
    width: 100%;
}
.fin-text h1{
    font-size: 35px;
}
.fin-text p{
    margin: 10px 0 20px 0;
    font-size: 14px;
}
.fin-text button{
    font-size: 14px;
    padding: 10px 22px;
}
.banner-img img{
    width: 80%;
    padding-top: 10px;
}

 /* first section code start */
 .service-title{
    padding-bottom: 80px;
    text-align: center;
}
.service-title h2{
    font-size: 30px;
}
.service-title p{
    margin: 8px 13px;
    font-size: 16px;
}
#ser-sec{
    margin: 90px 0 90px 0;
    width: 100%;
}
#service-parent{
    display: block;
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
    width: 80%;
}
.service-ite{
    padding-bottom: 50px;
}
.service-ite h3{
    padding: 13px 0 10px 0;
    font-size: 18px;
}
.service-ite p{
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
}
.service-ite a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: rgb(17, 4, 71);
}
#ser-sec button{
    display: block;
    margin: 0 auto;
    padding: 10px 35px;
    font-size: 12px;
}
.service-ite img{
    width: 60px;
    height: 60px;
} 

 /* about section responsive code start */
 #about-sec{
    width: 100%;
}
#about-title{
    width: 90%;
    margin: 0 auto;
}
#about-title h2{
    font-size: 28px;
}
#about-title p{
    font-size: 13px;
}
#about-parent{
    display: block;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}
.about-img img{
    width: 100%;
    height: 100%;
}
.about-text h3{
    font-size: 26px;
    margin-top: 38px;
}
.about-text p{
    margin: 10px 0 28px 0;
    font-size: 13px;
    line-height: 23px;
}
.about-text button{
    font-size: 13px;
    padding: 10px 36px;
}
}

@media screen and (min-width:769px) and (max-width:992px){
    
/* header{
    height: 70vh;
    position: fixed;
    top: 0; 
} */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
nav .logo{
    font-size: 20px;
}
nav ul{
   display: flex;
   gap: 5px;
}
nav ul li{
   list-style: none;
   padding: 6px 12px;
   transition: 0.5s;
   border-radius: 5px;
   cursor: pointer;
}
nav ul li:hover{
   color: aqua;
}
nav ul li i{
    margin-right: 5px;
    font-size: 13px;
}

/* header first section code start here */
.main-head{
    width: 100%;
    height: 110vh; 
}
#fin-parent{
    display: flex;
    justify-content: space-between;
    padding: 10% 0;
    margin: 0 5%;
    gap: 5%;
}
.fin-text{
    width: 130%;
}
.fin-text h1{
    font-size: 40px;
}
.fin-text p{
    margin: 20px 0 30px 0;
    font-size: 14px;
}
.fin-text button{
    font-size: 14px;
    padding: 10px 20px;
}
.banner-img img{
    width: 100%;
}
/* service section responsive code start */
#ser-sec{
    margin: 90px 0 90px 0;
    width: 100%;
}
.service-title{
    padding-bottom: 80px;
    text-align: center;
}
.service-title h2{
    font-size: 30px;
}
.service-title p{
    margin: 8px 13px;
    font-size: 16px;
}

#service-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
}
.service-ite{
    padding-bottom: 50px;
}
.service-ite h3{
    padding: 13px 0 10px 0;
    font-size: 18px;
}
.service-ite p{
    padding-bottom: 13px;
    font-size: 14px;
    line-height: 20px;
}
.service-ite a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: rgb(17, 4, 71);
}
#ser-sec button{
    display: block;
    margin: 0 auto;
    padding: 10px 35px;
    font-size: 12px;
}
.service-ite img{
    width: 60px;
    height: 60px;
} 

/* about section responsive code start */
#about-sec{
    width: 100%;
}
#about-title{
    width: 90%;
    margin: 0 auto;
}
#about-title h2{
    font-size: 28px;
}
#about-title p{
    font-size: 13px;
}
#about-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}
.about-img img{
    width: 100%;
    height: 100%;
}
.about-text h3{
    font-size: 26px;
    margin-top: 38px;
}
.about-text p{
    margin: 10px 0 28px 0;
    font-size: 13px;
    line-height: 23px;
}
.about-text button{
    font-size: 13px;
    padding: 10px 36px;
}
}

@media screen and (min-width:993px) and (max-width:1200px){
    /* header{
        width: 100%;
        height: 95vh;
        background-image: url(images/hero-bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    } */
    .main-head{
        width: 100%;
        height: 50vh; 
    }
    #fin-parent{
        display: flex;
        justify-content: space-between;
        padding: 8% 0;
        margin: 0 5%;
        gap: 5%;
    }
    .fin-text{
        width: 130%;
    }
    .fin-text h1{
        font-size: 40px;
    }
    .fin-text p{
        margin: 20px 0 30px 0;
        font-size: 14px;
    }
    .fin-text button{
        font-size: 14px;
        padding: 10px 20px;
    }
    .banner-img img{
        width: 100%;
    }
    /* service section responsive code start */
    #ser-sec{
        margin: 140px 0 90px 0;
        width: 100%;
    }
    .service-title{
        padding-bottom: 80px;
        text-align: center;
    }
    .service-title h2{
        font-size: 35px;
    }
    .service-title p{
        margin: 8px 0;
        font-size: 16px;
        font-weight: 400;
    }
    #service-parent{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 80%;
        gap: 50px;
    }
    
    .service-ite h3{
        padding: 13px 0 10px 0;
        font-size: 22px;
    }
    .service-ite p{
        padding-bottom: 20px;
        font-size: 16px;
       line-height: 22px;
    }
    .service-ite a{
        text-decoration: none;
        font-size: 16px;
    }
    #ser-sec button{
        display: block;
        margin: 80px auto;
        padding: 13px 40px;
        font-size: 15px;
    }
    .service-ite img{
        width: 6px;
        height: 65px;
    } 
/* about section responsive code start */
    #about-sec{
        width: 100%;
    }
    #about-title{
        width: 90%;
        margin: 0 auto;
    }
    #about-title h2{
        font-size: 30px;
    }
    #about-title p{
        font-size: 14px;
    }
    #about-parent{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        margin: 0 auto;
        gap: 40px;
    }
    .about-img img{
        width: 100%;
        height: 100%;
    }
    .about-text h3{
        font-size: 26px;
        margin-top: 38px;
    }
    .about-text p{
        margin: 10px 0 28px 0;
        font-size: 13px;
        line-height: 23px;
    }
    .about-text button{
        font-size: 13px;
        padding: 10px 36px;
    }
}