*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #170c5f;
    color: aliceblue;
}
nav .logo{
    font-size: 20px;
}
nav ul{
   display: flex;
   gap: 5px;
}
nav ul li{
   list-style: none;
   padding: 6px 12px;
   transition: 0.5s;
   border-radius: 5px;
   cursor: pointer;
}
nav ul li:hover{
   color: aqua;
}
nav ul li i{
    margin-right: 5px;
    font-size: 13px;
}
hr{
    border: 1px solid rgb(136, 130, 130);
    border-bottom: none;
}

#click{
    display: none;
}
.btn{
    display: none;
    color: #fff;
    font-size: 30px;
}

/* header first section code start here */
.main-head{
    width: 100%;
    height: 135vh;
    background-image: url(images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
#fin-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0;
    margin: 0 100px;
}
.fin-text{
    color: #fff;
    width: 600px;
}
.fin-text h1{
    font-size: 45px;
}
.fin-text p{
    margin: 20px 0 30px 0;
    font-size: 16px;
    line-height: 20px;
}
.fin-text button{
    color: #fff;
    background-color: rgb(7, 175, 197);
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 2px;
    border: none;
    transition: 0.5s;
}
.fin-text button:hover{
    background-color: rgb(13, 116, 163);
}
.banner-img img{
    width: 500px;
}

/* service section start */
#ser-sec{
    margin: 140px 0 90px 0;
    width: 100%;
}
.service-title{
    padding-bottom: 80px;
    text-align: center;
}
.service-title h2{
    font-size: 35px;
}
.service-title span{
    color: rgb(5, 207, 207);
}
.service-title p{
    margin: 8px 0;
    font-size: 18px;
    font-weight: 400;
}
#service-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1100px;
    margin: 0 auto;
    text-align: center;
    gap: 50px;
}

.service-ite h3{
    padding: 13px 0 10px 0;
    font-size: 22px;
}
.service-ite p{
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.service-ite a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgb(17, 4, 71);
}
#ser-sec button{
    display: block;
    margin: 80px auto;
    background-color: #3498db;
    border: none;
    padding: 13px 40px;
    color: #fff;
    font-size: 15px;
    transition: 0.5s;
}
#ser-sec button:hover{
    background-color:rgb(13, 116, 163);
}
.service-ite img{
    width: 70px;
    height: 70px;
} 

/* about section code start */
#about-sec{
    background-color: #150c55f5;
    padding: 80px 0 80px 0;
    color: #ffffffc9;
    width: 100%;
}
#about-title{
    text-align: center;
}
#about-title h2{
    font-size: 32px;
}
#about-title span{
    color: aqua;
}
#about-title p{
    font-size: 16px;
    margin: 10px 0 30px 0;
}
#about-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    gap: 40px;
}
.about-img img{
    width: 530px;
    height: 440px;
}

.about-text h3{
    font-size: 30px;
}
.about-text p{
    margin: 15px 0 35px 0;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
}
.about-text button{
    color: #ffffff;
    background-color: rgb(7, 175, 197);
    font-size: 16px;
    padding: 13px 43px;
    border-radius: 2px;
    border: none;
    transition: 0.5s;
}
.about-text button:hover{
    background-color: rgb(13, 116, 163);
}

/* choose section code start */
#choose-sec{
    margin: 70px 0;
    width: 100%;
}
#choose-sec h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}
#choose-sec span{
    color: rgb(7, 175, 197);
}
#choose-par{
    width: 1100px;
    margin: 0 auto;
    text-align: center;
}
.choose-items button{
    padding: 25px;
    border: 5px solid  rgb(3, 3, 61);
    border-radius: 50%;
}
button img{
    width: 55px;
    height: 55px;
}

#choose-par h5{
    font-size: 22px;
    margin-top: 18px;
}

#choose-par p{
    font-size: 16px;
    padding: 11px 0 30px 0;
}
.btn-1{
    color: #ffffff;
    background-color: rgb(7, 175, 197);
    font-size: 16px;
    padding: 13px 43px;
    border-radius: 2px;
    border: none;
    transition: 0.5s;
}
btn-1:hover{
    background-color: rgb(13, 116, 163);
}

/* team section code start */
#team-con{
    background-color: #042642;
    padding: 110px 0 80px 0;
    width: 100%;
}
#team-con h2{
    text-align: center;
    font-size: 34px;
    color: #fff;
    padding-bottom: 50px;
}
#team-con span{
    color: #3498db;
}
#team-par{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1290px;
    margin: 0 auto;
    color: #fff;
    gap: 30px;
}
.team-items{
    text-align: center;
    background-color: #05345a;
    padding: 60px 10px 22px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px #05345a;
}
.team-img img{
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    border-radius: 50%;
}
.team-text h3{
    color: #3498db;
    font-size: 22px;
    padding: 15px 0 10px 0;
}
.team-text p{
    font-size: 16px;
}

.team-icon i{
    font-size: 22px;
    padding: 35px 12px 0;
    transition: 0.5s;
}
.team-icon i:hover{
    color: aqua;
}


/* review section code start */
#cust-sec{
   padding: 40px 0 60px 0;
   width: 100%; 
}
.cust-title h2{
    text-align: center;
    margin: 50px 0;
    font-size: 32px;
}
.cust-title span{
    color: rgb(6, 202, 202);
}
#cust-par{
    display: flex;
    margin: 0 auto;
    width: 1100px;
    gap: 40px;
}
.cust-items img{
    border-radius: 50%;
}
.cust-items h4{
    padding: 10px 0;
    font-size: 16px;
}
.cust-items h5{
    font-size: 14px;
    font-weight: 400;
}
.cust-items p{
    font-size: 16px;
    color: #000000c7;
    padding: 10px 0;
}

.cust-icon{
   
    margin-top: 100px;
    text-align: center;
}
.cust-icon i{
    padding: 0 18px;
}

/* footer setion code start */
#foot{
   background-color: #02233d;
   color: #fff; 
   padding: 50px 0;
}
#foot-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 1100px;
    margin: 0 auto;
    gap: 35px;
}
.foot-items h2{
    margin: 20px 0;
    font-weight: 500;
    font-size: 26px;
}

.foot-items p{
    margin: 18px 0;
    gap: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.foot-items p:hover{
    color:rgb(15, 155, 219);
}
.foot-items a{
    text-decoration: none;
    color: #fff;
}
.foot-items i{
    padding: 0 9px;
    transition: 0.5s;
}
.foot-items i:hover{
    color:rgb(15, 155, 219);
}

.foot-icon i{
    font-size: 23px;
    padding: 10px 5px;
}
.foot-items-3 h2{
    margin: 20px 0;
}
.foot-items-3 p{
    font-size: 16px;
    font-weight: 300;
}

.foot-items input{
    background: none;
    border: none;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: 20px 0;
    width: 265px;
    padding: 10px 0;
}
.foot-items input::placeholder{
    color: #fff;
    font-size: 16px;
   
}
.foot-items .btn-2{
    background-color: rgb(7, 175, 197);
    font-size: 16px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    width: 265px;
    padding: 14px 0;
}
.btn-2:hover{
    background-color: rgb(13, 116, 163);
}
.copy h4{
    text-align: center;
    color: #092033;
    background-color: #fff;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0;
}
